$bg:        #101419;
$bg2: #2d3540;
$bg-alt:    #15191e;
$bg2-alt: #b6beca;
$border:    #1a1e23;
$fg: #b6beca;

$watermelon: #e05f65;
$red: #e05f65;
$blue: #70a5eb;
$green:     #76b97f;
$cyan: #74bee9;
$blue-desaturated: #74bee9;
$magenta: #c68aee;
$bri-green: #94f7c5;
$aquamarine: #94f7c5;
$yellow: #f1cf8a;
$javacafeMagenta: #c68aee;
$javacafeBlue: #70a5eb;

$black: #0f0f17;
$black2: #2E3440;
$grey: #3e424f;
$white: #bfc9db;
$white-alt: #a1bdce;
$wblue: #8cb3e6;
$wred: #d68d91;
$wgreen: #88b88e;
$wyellow: #edd29a;
