$bg: #1e1e2e;
$bg_alt: #181825;
$bg_sel: #313244;
$comments: #45475a;
$fg_alt: #585b70;
$fg: #cdd6f4;
$c0: #f5e0dc;
$c1: #b4befe;
$c2: #f38ba8;
$c3: #fab387;
$c4: #1e1e2e;
$c5: #1e1e2e;
$c5: #f38ba8;
$c7: #fab387;
$c8: #a6e3a1;
$c9: #94e2d5;

window.bar {
    background-color: transparent;
    color: $fg;
}

button {
    min-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
}

slider {
  all: unset;
}

scale trough {
  all: unset;
  background-color: $bg_sel;
  border-radius: 5px;
  min-height: 10px;
  min-width: 80px;
  margin: 0 .8rem 0 0;
}

trough highlight {
  background-color: $c2;
  border-radius: 5px;
}

button:active {
    background-color: $bg_sel;
}

button:hover {
    border-bottom: 3px solid $fg_alt;
}

label {
    color: $fg;
    font-weight: bold;
}

// Modules general css
.workspaces,
.client-title,
.media,
.clock,
.utils {
    margin: 5px 5px 0px 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: $bg;
}
.workspaces {
    border-bottom: 2px solid $c0;
}
.client-title {
    border-bottom: 2px solid $c2;
}
.media {
    border-bottom: 2px solid $c8;
}
.clock {
    border-bottom: 2px solid $c1;
}
.utils {
    border-bottom: 2px solid $c3;
}

.info_progress {
    margin: 20px;
    font-size: 6px;
}

.applauncher {
    border: 2px solid $c2;
    border-radius: 10px;
    background-color: $bg_alt;
    button {
        all: unset;
    }
    button:hover, button:focus {
        background-color: $bg_sel;
        border-radius: 10px;
    }
    .scroll {
        background-color: $bg;
    }
    .entry {
        border: 2px solid $c1;
    }
}

.notification {
    color: $c1;
}

levelbar block,
highlight {
    min-height: 10px;
}

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: $fg;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid $c1;
    background-color: $bg_sel;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $fg;
    font-size: 1.4em;
}

.body {
    color: $fg_alt;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
